@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
}

*{
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

